.hideme {
 display:none;
}
 .jtable-title-text {
    display:none;
 }
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list {
  display: inline-block;
}
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number,
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-space,
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-first,
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-last,
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-previous,
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-next,
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active {
  padding: 2px 5px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ddd;
  padding:10px;
}
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-space,
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active {
  cursor: default;
  border: 1px solid #ddd;
  padding:10px;
}
div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-info {
  display: inline-block;
  margin-left: 5px;
  padding:10px;
  border: 1px solid #ddd;
}
.margin-bottom-15px{
  margin-bottom:15px;
}
.margin-5px {
  margin:5px;
}
.margin-top-15px{
  margin-top:15px;
}