/**
 * MediaWiki style sheet for general styles on basic content elements
 *
 * Styles for basic elements: links, lists, etc...
 *
 * This style sheet is used by the Monobook and Vector skins.
 */

/* Links */
a {
	text-decoration: none;
	color: #06447A;
	background: none;
}

a:not( [href] ) {
	cursor: pointer; /* Always cursor:pointer even without href */
}

a:visited {
	color: #06447A;
}

a:active {
	color: #06447A;
}

a:hover,
a:focus {
	text-decoration: underline;
}

a:lang( ar ),
a:lang( kk-arab ),
a:lang( mzn ),
a:lang( ps ),
a:lang( ur ) {
	text-decoration: none;
}

a.stub {
	color: #723;
}

a.new,
#p-personal a.new {
	color: #ba0000;
}

a.new:visited,
#p-personal a.new:visited {
	color: #a55858;
}

/* Interwiki Styling */
.mw-body-content a.extiw,
.mw-body-content a.extiw:active {
	color: #36b;
}

.mw-body-content a.extiw:visited {
	color: #636;
}

.mw-body-content a.extiw:active {
	color: #b63;
}

/* External links */
.mw-body-content a.external {
	color: #36b;
}

.mw-body-content a.external:visited {
	color: #636; /* T5112 */
}

.mw-body-content a.external:active {
	color: #b63;
}

.mw-body-content a.external.free {
	word-wrap: break-word;
}

/* Inline Elements */
img {
	border: 0;
	vertical-align: middle;
}

hr {
	height: 1px;
	color: #a2a9b1;
	background-color: #a2a9b1;
	border: 0;
	margin: 0.2em 0;
}

/* Structural Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
	border-bottom: 1px solid #a2a9b1;
}

h1 {
	font-size: 188%;
}

h2 {
	font-size: 150%;
}

h3,
h4,
h5,
h6 {
	border-bottom: 0;
	font-weight: bold;
}

h3 {
	font-size: 128%;
}

h4 {
	font-size: 116%;
}

h5 {
	font-size: 108%;
}

h6 {
	font-size: 100%;
}

/* Some space under the headers in the content area */
h1,
h2 {
	margin-bottom: 0.6em;
}

h3,
h4,
h5 {
	margin-bottom: 0.3em;
}

p {
	margin: 0.4em 0 0.5em 0;
}

p img {
	margin: 0;
}

ul {
	list-style-type: square;
	margin: 0.3em 0 0 1.6em;
	padding: 0;
}

ol {
	margin: 0.3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}

li {
	margin-bottom: 0.1em;
}

dt {
	font-weight: bold;
	margin-bottom: 0.1em;
}

dl {
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

dd {
	margin-left: 1.6em;
	margin-bottom: 0.1em;
}

pre,
code,
tt,
kbd,
samp,
.mw-code {
	/*
	 * Some browsers will render the monospace text too small, namely Firefox, Chrome and Safari.
	 * Specifying any valid, second value will trigger correct behavior without forcing a different font.
	 */
	font-family: monospace, 'Courier';
}

code {
	color: #000;
	background-color: #f8f9fa;
	border: 1px solid #eaecf0;
	border-radius: 2px;
	padding: 1px 4px;
}

pre,
.mw-code {
	color: #000;
	background-color: #f8f9fa;
	border: 1px solid #eaecf0;
	padding: 1em;
	/* Wrap lines in overflow. T2260, T103780 */
	white-space: pre-wrap;
}

/* Tables */
table {
	font-size: 100%;
}

/* Forms */
fieldset {
	border: 1px solid #2a4b8d;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
}

fieldset.nested {
	margin: 0 0 0.5em 0;
	padding: 0 0.5em 0.5em;
}

legend {
	padding: 0.5em;
	font-size: 95%;
}

form {
	border: 0;
	margin: 0;
}

textarea {
	width: 100%;
	padding: 0.1em;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Emulate Center */
.center {
	width: 100%;
	text-align: center;
}

*.center * {
	margin-left: auto;
	margin-right: auto;
}

/* Small for tables and similar */
.small {
	font-size: 94%;
}

table.small {
	font-size: 100%;
}
