
.mylogo img {
    width: 165px;
    top: 20px;
    position: relative;
}
#btnreset {
    margin-left: 10px;
    
}

ol.breadcrumb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

ol.breadcrumb li.breadcrumb-item {
    float: left;
}
ol.breadcrumb li.breadcrumb-item:not(:first-child) {   
    border-left: 1px solid #ddd;
    margin-left:10px;
    padding-left:10px;
}
ol.breadcrumb li.breadcrumb-item a {
    display: block; 
    text-align: center; 
    text-decoration: none;
} 
#wpLoginAttempt {
    background-color: #28509F;
    color:#fff;
}


/* unvisited link */
a:link, div#mw-panel div.portal div.body ul li a:link {
    color: #06447A;
}

/* visited link */
a:visited, div#mw-panel div.portal div.body ul li a:visited {
    color: #06447A;
}

/* mouse over link */
a:hover, div#mw-panel div.portal div.body ul li a:hover {
    color: #663366;
}

/* selected link */
a:active {
    color: #8C001A;
}

#userloginForm .mw-ui-vform .error {
    color:#990000;
}
#searchform label {
    color:#06447a;
    float:left;margin-top: 15px;margin-right: 10px; font-size:13px;
}
.comment .autocomment,
.axe-highlight-tool ,
.mw-plusminus-null
{
    color: #000;
}


#bodyContent div.jtable-main-container>table.jtable>thead {
    background-color: #000;
    border-color: #000; 
    font-family: Arial;
}
#bodyContent div.jtable-main-container>table.jtable {
    border: 1px solid #000; 
    font-family: Arial;
}
#bodyContent div.jtable-main-container>table.jtable>tbody>tr.jtable-data-row>td {
    color: #000;
    font-family: Arial;
}

div#breadcrumbs {
      top: 0px; 
}