.div_advance{
    display: none;
}
#customsearch_filters {
  padding:10px;
}
#customsearch_filters  > div {
  padding: 5px 0px;
}
#customsearch_filters label {
    width:300px;
    text-transform: uppercase;
    display:inline-block
}
.txtcustomsearch {
    width:400px;
}
.selcustomsearch {
    width:405px;
}
.searchresults {
    display:none;
}
#form_customsearch > div {
    margin: 10px 0px;
}
.link {padding: 10px 15px;background: transparent;border:#bccfd8 1px solid;border-left:0px;cursor:pointer;color:#607d8b}
.disabled {cursor:not-allowed;color: #bccfd8;}
.current {background: #bccfd8;}
.first{border-left:#bccfd8 1px solid;}
.question {font-weight:bold;}
.answer{padding-top: 10px;}
#pagination{margin-top: 20px;padding-top: 30px;border-top: #F0F0F0 1px solid;}
.dot {padding: 10px 15px;background: transparent;border-right: #bccfd8 1px solid;}
#overlay {background-color: rgba(0, 0, 0, 0.6);z-index: 999;position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;}
#overlay div {position:absolute;left:50%;top:50%;margin-top:-32px;margin-left:-32px;}
.page-content {padding: 20px;margin: 0 auto;}
.pagination-setting {padding:10px; margin:5px 0px 10px;border:#bccfd8  1px solid;color:#607d8b;}

#overlay {
    width: 100%;
    background: none;
    position: relative;
}

#overlay img.loading_circle {
    position: relative;
    top: 50%;
    left: 50%;
    width:100px;
}
table.searchone {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.searchone th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.searchone td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}